*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	color: black;
	width: 100%;
	height: 100%;
}
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }
body{
	width: 100vw;
	background: url(../background/156169-estetika-animaciya-art-anime-oblako-1920x1080.jpg) no-repeat fixed center;
	background-position: center;
	background-size: cover;

}
table {
	border-bottom: none;
	border-right: none;
	width: 100%;
}
h1{
	padding-top: 3%;
}
#clown{
	font-size: 25px;
}
main{
	display: flex;
	justify-content: space-between;
	margin-top: 3%;
}
main p{
	font-size: 20px;
}
header {
	width: 100vw;
}

.flex_container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.head {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content{
	margin-right: 2%;
	color: rgb(234,189,98);
	background: rgba(67,123,234,0.6);
	border-radius: 15px;
	box-shadow: 0 0 10px #000;
	padding: 15px;
	height: 425px;
	margin-top: 55px;
}
td{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 10px;
}
td:hover{
	background: rgba(243,165,5,0.3);
}
#dates{
	margin-left: 1.8%;
}
#dates p{
	width: 100%;
	text-align: center;
	text-align: center;
	color: rgb(183,219,0);
	margin-bottom: 2%;
	background-color: rgba(0,0,0,0.5);
	border-radius: 20px;
	padding: 8px;
}

#container>div{
	margin-top: 3.8%;
	margin-left: 1.8%;
}
#container p{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 1.8%;
}

.footer { 
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 20px;
	background-color: rgba(183,219,0,0.7);
	border-radius: 100px;
	padding: 30px;

}
@media only screen and (max-width: 1000px) {
	main {
		flex-direction: column;
	}

	#content {
		height: auto;
	}
}
@media only screen and (max-width: 500px) {
	.head {
		margin-top: 10px;
	}
	main {
		flex-direction: column;
		width: 100%;
	}

	td{
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 2px;
	}

	.flex_container {
		width: 80vh;
	}

	.footer{
		font-size: 24px;
		text-align: center;
		/* BLYAT"! */
	}

}